:root {
    --color-ching: #177cb0;
    --color-pink: #fb7299;
    --color-black: #212121;
    --color-grey: #999999;
    // --color-primary: #177cb0;
    // --color-secondary: #fb7299;
    // --text-color-primary: #212121;
    // --text-color-secondary: #999999;
}

* {
    outline: none;
}

.last-row-justify-start::after {
    content: "";
    flex: auto;
}
