.markdown-github {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-github details {
    display: block;
}

.markdown-github summary {
    display: list-item;
}

.markdown-github a {
    color: #4285F4;
    text-decoration: none;
    background-color: transparent;
    word-wrap: break-word;
    word-break: keep-all;
}

.markdown-github a:hover {
    text-decoration: underline;
}

.markdown-github a:not([href]) {
    color: inherit;
    text-decoration: none;
}


.markdown-github a:active,
.markdown-github a:hover {
    outline-width: 0;
}

.markdown-github a[target="_blank"]:after {
    content: ' ';
    background-image: url('/statics/external-link-outline-blue.svg');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 10px 10px;
    height: 13px;
    width: 10px;
}


.markdown-github strong {
    font-weight: bolder;
}

.markdown-github hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.markdown-github input {
    font: inherit;
    margin: 0;
}

.markdown-github input {
    overflow: visible;
}

.markdown-github [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-github * {
    box-sizing: border-box;
}

.markdown-github input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown-github hr {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}

.markdown-github hr:before {
    content: "";
    display: table;
}

.markdown-github hr:after {
    clear: both;
    content: "";
    display: table;
}

.markdown-github table {
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown-github td,
.markdown-github th {
    padding: 0;
}

.markdown-github details summary {
    cursor: pointer;
}

.markdown-github p {
    margin-bottom: 16px;
    margin-top: 0;
    text-align: justify;
    line-height: 1.9;
    color: #4c4e4d;
}

.markdown-github :first-child:last-child[class="music"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.markdown-github blockquote {
    margin: 0;
}

.markdown-github ol,
.markdown-github ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.markdown-github ul {
    list-style-type: disc;
}

.markdown-github ol {
    list-style-type: decimal;
}

.markdown-github ol ol,
.markdown-github ul ol {
    list-style-type: lower-roman;
}

.markdown-github ol ol ol,
.markdown-github ol ul ol,
.markdown-github ul ol ol,
.markdown-github ul ul ol {
    list-style-type: lower-alpha;
}

.markdown-github dd {
    margin-left: 0;
}

.markdown-github input::-webkit-inner-spin-button,
.markdown-github input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.markdown-github:before {
    content: "";
    display: table;
}

.markdown-github:after {
    clear: both;
    content: "";
    display: table;
}

.markdown-github>:first-child {
    margin-top: 0;
}

.markdown-github blockquote,
.markdown-github dl,
.markdown-github ol,
.markdown-github p,
.markdown-github table,
.markdown-github ul {
    margin-bottom: 16px;
    margin-top: 0;
}

.markdown-github hr {
    background-color: #e1e4e8;
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
}

.markdown-github blockquote {
    border-left: .25em solid #dfe2e5;
    padding: 0 1em;
}

.markdown-github blockquote>:first-child {
    margin-top: 0;
}

.markdown-github blockquote>:last-child {
    margin-bottom: 0;
}

.markdown-github h1,
.markdown-github h2,
.markdown-github h3,
.markdown-github h4,
.markdown-github h5,
.markdown-github h6 {
    line-height: 1.25;
    margin-bottom: 10px;
}

.markdown-github h1,
.markdown-github h2 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eaecef;
}

.markdown-github h3 {
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}

.markdown-github h4,
.markdown-github h5,
.markdown-github h6 {
    font-size: 12px;
    font-weight: 400;
}


.markdown-github ol,
.markdown-github ul {
    padding-left: 2em;
}

.markdown-github ol ol,
.markdown-github ol ul,
.markdown-github ul ol,
.markdown-github ul ul {
    margin-bottom: 0;
    margin-top: 0;
}

.markdown-github li {
    word-wrap: break-all;
    color: #4c4e4d;
}

.markdown-github li>p {
    margin-top: 16px;
    color: #4c4e4d;
}

.markdown-github li+li {
    margin-top: .25em;
}

.markdown-github dl {
    padding: 0;
}

.markdown-github dl dt {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin-top: 16px;
    padding: 0;
}

.markdown-github dl dd {
    margin-bottom: 16px;
    padding: 0 16px;
}

.markdown-github table {
    display: block;
    overflow: auto;
    width: 90%;
}

.markdown-github table th {
    font-weight: 600;
}

.markdown-github table td,
.markdown-github table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

.markdown-github table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.markdown-github table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.markdown-github img {
    box-sizing: content-box;
    max-width: 100%;
    border-radius: 4px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

.markdown-github img[align=right] {
    padding-left: 20px;
}

.markdown-github img[align=left] {
    padding-right: 20px;
}

.markdown-github pre {
    padding: 16px 0;
    margin: 16px 0;
    border-radius: 4px;
    position: relative;
    font-family: "Source Code Pro";

    .code-copy-btn,
    &::before {
        position: absolute;
        top: 0;
        right: 6px;
        color: #93a1a1;
        height: fit-content;
        width: fit-content;
        font-size: 12px;
        transition: all .25s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .code-copy-btn {
        opacity: 0;
        cursor: pointer;
        z-index: 1;

        &::before {
            content: '复制';
        }
    }

    &::before {
        content: attr(data-lang);
        text-transform: uppercase;
        opacity: 1;
    }

    &:hover .code-copy-btn {
        opacity: 1;
    }

    &:hover::before {
        opacity: 0;
    }

    .code-wrap::-webkit-scrollbar {
        /* Chrome Safari */
        display: none;
    }

    .code-wrap {
        overflow-x: auto;
        overflow-y: hidden;
        /* firefox */
        scrollbar-width: none;
        /* IE 10+ */
        -ms-overflow-style: none;

        .line-number {
            position: relative;
            height: 24px;
            white-space: pre;
            word-wrap: normal;

            &::before {
                content: attr(data-line-number);
                position: sticky;
                top: 0;
                left: 0;
                display: inline-block;
                margin-right: 20px;
                padding: 0 10px;
                border-right: 1px solid #93a1a1;
                color: #93a1a1;
                height: 24px;
                line-height: 24px;
                width: 44px;
                text-align: end;
                background-color: #fdf6e3;
                font-size: 13px;
                pointer-events: none;
                vertical-align: middle;
            }
        }

        .hljs-comment {
            color: #657b83;
        }
    }
}

.markdown-github :not(pre)>code {
    background-color: #fdf6e3;
    color: #4c4e4d;
    padding: 1px 3px;
    margin: 0 3px;
    border-radius: 4px;
    vertical-align: 1px;
    font-size: .75rem;
    line-height: 1.9;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: keep-all;
    font-family: "Source Code Pro";
}

.note-base {
    background-color: #eee;
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px 24px;
    font-size: 1em;
    border-width: 0 5px;
    border-style: solid;
    border-color: #9e9e9e;
    letter-spacing: .5px;

    p {
        margin: 0;
    }
}

.note-tip {
    background-color: #c1f4cd;
    border-color: #21ba45;

    code {
        color: white !important;
        background-color: #21ba45 !important;
    }
}

.note-warning {
    background-color: #f9e09b;
    border-color: #f2c037;

    code {
        color: white !important;
        background-color: #f2c037 !important;
    }
}

.note-danger {
    background-color: #ffc0c6;
    border-color: #c10015;

    code {
        color: white !important;
        background-color: #c10015 !important;
    }
}

.music {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EA4335;
    border-radius: 50%;
    background-image: url('/statics/arrow-right-outline-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 50px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}
